@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #8e44ad;
  color: #fff;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #8e44ad;
}
.containerHome{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.containerHome .boxHome{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 5px;
  height: 520px;
  width: 343px;
}
.boxHome .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.containerHome .boxHome .image{
  margin: 10px 0;
  width: 100px;
  height: 100px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
  
}
.boxHome .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.boxHome p{
  text-align: justify;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
}
.boxHome .name_job{
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}
.rating i{
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns small{
  width: 100%;
  padding: 9px 0px;
  padding: 2px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
  margin-left: 14px;
}
.btns i{
  margin-left: 10px;
 
}
.btns small:first-child{
  background: none;
 
}
.btns small:last-child{
  color: #fff;
  margin-right: 5px;
}
.btns small:first-child:hover{
  background: #8e44ad;
  color: #fff;
}
.btns small:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}

.up-Container{
  margin-top: 150px;
  height: 700px;

  
}
