.Card{
  
    width: 470px;
    height: 200px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
  }
  
  .upper-container{
    height: 50px;
    background: linear-gradient(to left, #2d00f7,#ff0291);
  }
  .image-container img{
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(40px,65px);
  }
  
  img{
    border:2px solid #8e00b9;
  }
  .lower-container{
    float: left;
    text-align: left;
    margin-top:30px ;
    margin-left: 200px;
    height: 300px;
    width: 400px;
    background: white;
    font-family: 'Times New Roman', Times, serif,sans-serif;
  }
  
  .lower-container h3,h4,p,small{
    margin-top: 0;
    padding: 0;
  }
  
  .lower-container h3{
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .lower-container h4{
    color: #8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .lower-container p{
    margin: 1rem;
    color: #2d2d2e;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
  }
  .lower-container small{
    margin: 1rem;
    margin-top: 0;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid #8e00b9;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
  }
  .low-container{
    width:150px;
    height:150px;
    margin-right: 10px;
    margin-left: 4px;
    float: left;
    background: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif,sans-serif;
    margin-top:30px ;
   
  }
  .low-container h4{
    color: #8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  button{
    margin: 1rem;
    margin-top: 0;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid #8e00b9;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
  }
  button:hover{
    background-image: linear-gradient(to left, #2d00f7,#ff0291);
    transform: scale(1.2);
    border: none;
    color: white;
  }

  .contaniners{
    margin: 1rem;
    margin-top: 1200px;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: 500px 500px  ;
  }
  
  .up{
  position: relative;
  height: 1000px;
  margin-top: 300px;
  margin-left: 115px;
}


  